.header  {
  display: flex; /*added*/
  align-items: center; /*added*/
  justify-content: space-between; /*added*/
  font-family: monospace;
  background: papayawhip;
  padding: 10px;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  color: tomato;
  background: white;
  padding: 4px 32px;
}

.left-links { /*added*/
  display: flex;
  justify-content: flex-start;
}

.right-links { /*added*/
  display:flex;
  justify-content: flex-end;
}

ul {
  /* this removes the dots on the list items*/
  list-style-type: none;
  padding-left: 0px; /*added*/
  display: flex; /*added*/
  gap: 10px; /*added*/
}



a {
  font-size: 22px;
  background: white;
  padding: 8px;
  /* this removes the line under the links */
  text-decoration: none;
}